[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
multidict = ">=2.0"
pyquery = "*"
aiodns = "*"
websockets = "*"
async-timeout = "*"
ursine = ">=0.2.4"

[dev-packages]
twine = "*"
pytest-asyncio = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
